<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingrecipe.board.mapper.CommentMapper">

    <insert id="insertComment" parameterType="com.codingrecipe.board.entity.Comment">
        INSERT INTO comments (board_id, email, content, created_at)
        VALUES (#{boardId}, #{email}, #{content}, #{createdAt})
    </insert>

    <select id="selectCommentsByBoardId" parameterType="int" resultType="com.codingrecipe.board.entity.Comment">
        SELECT * FROM comments WHERE board_id = #{boardId} ORDER BY created_at DESC
    </select>

    <delete id="deleteComment" parameterType="int">
        DELETE FROM comments WHERE id = #{id}
    </delete>

</mapper>
